<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">予約管理</li>
          <li class="breadcrumb-item active">事前チェックイン</li>
        </ol>
      </div>
      <h4 class="page-title">事前チェックイン</h4>
    </div>
  </div>
</div>

<precheckin-index></precheckin-index>
